@import 'element_base.scss';

.form-item-sb{
    .el-form-item__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.el-menu{
    border-right: none!important;
}
.sidebar-el-menu:not(.el-menu--collapse) {
    width: 250px;
}
